
.img1{
     width: 50px;
}
form{
     margin-right: auto;
     input{
          width: 800px !important;
          border-radius: 20px !important;
     }
     button{
          border-radius: 20px !important;
     }
}



